# Unreal Engine standard ignores
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs
*.log
*.tlog
*.obj
*.pdb
*.idb
*.sln
*.opensdf
*.sdf
*.xcodeproj
*.xcworkspace
*.xcuserstate

# Build files
Build/

# Ignore backup files
*_BuiltData.uasset

# Ignore temporary files
Thumbs.db
*.bak
*.tmp

# Keep source and config
!Config/
!Source/
!Content/
