# Unreal Engine .gitignore template

# Build and cache folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/

# Configurations and IDE files
*.sln
*.suo
*.VC.db
*.opensdf
*.opendb
*.VC.opendb

# OS-specific files
Thumbs.db
*.DS_Store

# Logs and backups
*.log
*.tmp
*.bak
*.backup
